<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Rafaa Gahbiche</title>
    <meta charset="utf-8" />
    <meta name="author" content="Abderrafaa Gahbiche">
    <meta name="description" content="Abderrafaa Gahbiche, Web Developer, SharePoint, .Net">
    <meta name="keywords" content="Abderrafaa Gahbiche, Web Developer, SharePoint, .Net">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">
    <link href="@Url.Content(string.Format("~/Style/site.css?v={0}", DateTime.Now.ToString("ddMMyyyyhhmmsss")))" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Style/pager.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backoffice/jquery.article.paginate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backoffice/jquery.helper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backoffice/init.js")" type="text/javascript"></script>
    <script src="@Url.Content(string.Format("~/Scripts/backoffice/manager.page.js?{0}{1}", DateTime.Now.Minute, DateTime.Now.Second))" type="text/javascript"></script>
    <script src="@Url.Content(string.Format("~/Scripts/backoffice/manager.article.js?{0}{1}", DateTime.Now.Minute, DateTime.Now.Second))" type="text/javascript"></script>
    @RenderSection("AddStyle", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="page">
        <header>
            <div class="pres">
                <div class="logo"><img src="@Url.Action(ViewBag.Logo)" /></div>
                <div class="title"><h2>@ViewBag.Header</h2></div>
            </div>
        </header>
        <div class="container main">
            @RenderBody()
        </div>
        <footer>&nbsp;</footer>
    </div>
</body>
</html>